@model IDGS903_Tema1.Models.Triangulos

@{
    ViewBag.Title = "Calcular";
}

<h2 style="text-align: center; font-size: 24px; font-weight: bold;">Calcular</h2>

<div style="text-align: center; margin-top: 20px;">
    <h3>Tipo: @Html.DisplayFor(model => model.tipo)</h3>
    <h3>Área: @Html.DisplayFor(model => model.area)</h3>
</div>

