@{
    ViewBag.Title = "Calcular";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">¡El resultado es:</h1>
        <hr class="my-4">
        <h2 class="lead">@TempData["Resultado"]</h2>
    </div>
</div>
